body {
  background: #d6f7d5;
}
.App {
  max-width: 960px;
  margin: 0 auto;
}
a {
  color: #527e54;
}
.App-header {
  margin: 30px 0;
  text-align: center;
}

.App-logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
