.Phonetic {
  margin: 25px 0;
}
.Phonetic a {
  border: 1px solid #ddd;
  text-decoration: none;
  padding: 5px 15px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 20px;
  transition: all 150ms ease-in-out;
  margin-right: 10px;
}

.Phonetic a:hover {
  background: #197e22;
  color: white;
}

.Phonetic .text {
  opacity: 0.5;
  font-weight: bold;
}
