.Photos img {
  max-width: 95%;
  border-radius: 4px;
  margin-bottom: 40px;
  transition: all 150ms ease-in-out;
}

.Photos img:hover {
  margin-bottom: 30px;
  max-width: 100%;
  box-shadow: 0px 10px 10px rgba(0 0 0 / 40%);
}
